/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* This applies box-sizing: border-box; to all elements */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

html {
    height: 100%;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

}

body {
    background-color: #bdd4e7;
    background-image: -o-linear-gradient(135deg, #bdd4e7 0%, #8693ab 74%);
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    padding: 10px;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}


a {
    /* hyperlink */
    color: #000;
}
      
a:visited {
    /* visited link */
    color: #9b0202;
}

a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #ffa07a;
    font-weight: 700;
}

a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #ffa07a;
    font-weight: 700;
}
      
a:active {
    /* selected link */
    color: #0003a8;
}
  
     /*
    TIP!
    a:hover MUST come after a:visited in the CSS definition in order to be effective.
    Likewise, a:active MUST come after a:hover in the CSS definition in order to work.
    This means that in the example above, you’d want to make sure you move your a:hover
    to AFTER your a:visited. Lastly, note that while these types of pseudo-class names aren’t case-sensitive,
    it’s generally a good idea to keep everything in lowercase anyway, as this keeps your code consistent.
    */

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #46477a;
    color: #fff;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #46477a;
    color: #fff;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 50% */
    opacity: 0.5;
}

span {
    color: #7e2902;
    font-weight: 700;
}

table, th, td {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width: 25%;
    text-align: center;
    border-collapse: collapse;
}

th {
    background-color: #009600;
}

table {
    background-color: #000;
}

td {
    background-color: #669994;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

 .profile__picture {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 40px;
    border-radius: 50%;
} 

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    
}

.grid__item {
    background-color: #d3d3d3;
    display: inline-block;
    width: 33%;
}

.about-me {
    text-align: center;
}

.table-about {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.list-about {
    list-style-type: none ;
    margin-right: 40px;
    margin-left: auto;   
}

.contact-container {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-info {
    text-align: center;
}

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
/* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
        -ms-grid-columns: 1fr 20px 1fr 20px 2fr;
        grid-template-columns: 1fr 1fr 2fr;
        grid-gap: 20px;
        grid-column-gap: 25px;
        column-gap: 25px;
    }
    
    .grid__item {
        background-color: #d3d3d3;
        width: auto;
        padding: 10px;
        border-radius: 7px;
    }
    
    .grid__item h2 {
        margin: 0;
    }
    
    .grid__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}

@media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
}
  
  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
}
  
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
}

